/* Defina estilos básicos para os elementos da página */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.product-card p {
    font-size: 14px;
    color: #666;
    margin: 5px 0;
}

.product-card p.em-estoque {
    color: green;
}

.product-card p.esgotado {
    color: red;
}
