/* wishlist.css */

/* Estilo geral para a lista de desejos */
.wishlist {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo dos itens da lista de desejos */
.wishlist-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.wishlist-item h2 {
    font-size: 24px;
    margin: 0;
}

.wishlist-item p {
    margin: 5px 0;
}

.wishlist-item img {
    max-width: 100px;
}

/* Botão para remover da lista de desejos */
.wishlist-item .remove-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.wishlist-item .remove-button:hover {
    background-color: #c0392b;
}

/* Estilo do botão de adicionar ao carrinho */
.wishlist-item .add-to-cart-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.wishlist-item .add-to-cart-button:hover {
    background-color: #2980b9;
}

/* Botão para esvaziar a lista de desejos */
.empty-wishlist-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
}

.empty-wishlist-button:hover {
    background-color: #c0392b;
}
